* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  margin: 1em;
  padding: 3em;
  background: rgb(227, 227, 227);
  border-radius: 10px;
}

.logo img {
  width: 100%;
  min-width: 100px;
  max-width: 200px;
}

ul.main-nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5em 2em;
}

li.list-item a {
  color: black;
  font-weight: 650;
  text-decoration: none;
}

li.list-item a:hover {
  color: #3fa7b9;
  text-decoration: underline #3fa7b9 2px;
  text-underline-offset: 5px;
}