* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #444;
  font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

p {
  line-height: 1.8;
}

img {
 width: 100%;
 height: auto;
}

a {
  color: black;
}

h1,
h2 {
  font-size: 8rem;
  font-style: italic;
  font-weight: 100;
}

.post {
  margin: 2rem auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: 3fr 12fr 5fr;
  row-gap: 1rem;
  column-gap: 5rem;
}

.post > * {
  grid-column: 2 / 3;
}

.post > figure {
  grid-column: 1 / -1;
}

.post > blockquote {
  grid-column: 1 / -1;
  font-style: italic;
  font-size: 6rem;
  text-align: center;
}

figcaption {
  font-size: 1.6rem;
}

.tip-right {
  grid-column: 3;
}
.tip-left {
  grid-column: 1;
}