@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --red: #FF454D;
    --black: #00035f;
  }

* {
    box-sizing:border-box;
    margin: 0;
}

body {

    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 600px;
    color: var(--black); 
    margin: 100px;  
}



.container {
   
 

}


